<div class="details">
  <img src="{{post.imageUrl}}" alt='{{post.title}}'/><br />
  <h2>{{post.title}}</h2>
  <hr />
  <p>by {{author.username}}</p>
  <p>City: {{post.city}}</p>
  <p>{{post.content}}</p>
  <p>Route Length: {{post.routeLength}}</p>
  <hr />
</div>
<a href="/">Go back</a><br />
{{!-- <a href="/users/{{author._id}}/posts">See all {{author.username}}'s posts </a> --}}