<h2>Edit the post</h2>

<form action="/posts/{{post._id}}/edit" method="POST" enctype="multipart/form-data">
    <label>
        Title:
        <input type="text" name="title" value={{post.title}} />
    </label>
    <br />

    <label>
        City:
        <input type="text" name="city" value={{post.city}}> </input>
    </label>
    <br />

    <label>
        Route Length:
        <input type="text" name="routeLength" value={{post.routeLength}}/>
    </label>
    <br />

    <label>
        Content:
        <textarea type="text" name="content" cols='30' rows='4'>{{post.content}}</textarea>
    </label>
    <br />

    <label>
        Upload Image:
        <input type="file" name="post-image" />
    </label>
    <br />
    <button type="submit"> Edit </button>
</form>